:root{ 
  --graient: rgba(122, 188, 201, 0.5);
}

header{
  display: flex;
  padding: 1em 0;
}

header h1{
  padding-left: 2em;
  padding-right: 1em;
  background-color: aquamarine;
}
nav { 
  margin-left: auto;
}

nav ul {
  padding:  0 1em;
}
nav ul li {
  display: inline;
  text-decoration: underline;
  padding: 1em;
}

.hero-banner{ 
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(var(--graient), var(--graient)), url("../images/02-hero-bg.jpg");
  
    /* Set a specific height */
    height: 300px;
  
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  /* Place text in the middle of the image */
  .hero-text {
    position: absolute;
    top: 60%;
    left: 80%;
  }

  .page-wrapper{
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .page-section{
    display: flex;
    gap: 1em;
    min-height: fit-content;
  }

  .page-section > h2{ 
    flex-basis: 20%;
    text-align: end;
    padding-left: 3em;
  }

  #about-text{
    flex-basis: 80%;
  }
  
  .page-section > ul{
    flex-basis: 80%;
  }
  .portfolio-grid{  
  flex-basis: 80%;
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-areas:
  "portfolio-1 portfolio-1"
  "portfolio-2 portfolio-3"
  "portfolio-4 portfolio-5"
  ;
  grid-gap: 10px;
  }
 
  .portfolioGridArea {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  display: grid;
  align-content: end;
  }
  #portfolio-1 {
    grid-area: portfolio-1;
    background-image: url("../images/02-portfolio-1.jpg");
  
  }
  #portfolio-2 {
    grid-area: portfolio-2;
    background-image: url("../images/02-portfolio-2.jpg");
  }
  
  #portfolio-3 {
    grid-area: portfolio-3;
    background-image: url("../images/02-portfolio-3.jpg");
  }
  
  #portfolio-4 {
    grid-area: portfolio-4;
    background-image: url("../images/02-portfolio-4.jpg");
  }
  
  #portfolio-5 {
    grid-area: portfolio-5;
    background-image: url("../images/02-run-buddy.jpg");
  }

  .heading {
    background-color: var(--graient);
    padding: 15px;
    height: 100px;
    color: white;
    font-size: 18px;
    border-bottom: 5px solid #FF6200;
  }

  #contact ul {
    display: flex;
    flex-grow: 1;
    padding:  0 1em;
    justify-content: space-evenly;
  }
  #contact ul li {
    display: inline;
    text-decoration: underline;
    padding: 1em;
  }