:root {
  --graient: rgba(122, 188, 201, 0.5);
  --heading-background: rgb(102, 216, 205);
  --text-color: rgb(54, 112, 128);
}

body {
  color: var(--text-color);
}

a {
  color: var(--text-color);
}

/*header css */
header {
  display: flex;
  padding: 1em 0;
  background-color: rgb(40, 40, 40);
}

header h1 {
  padding-left: 2em;
  padding-right: 1em;
  background-color: var(--heading-background);
}

/*navigiation css inside the header */
nav {
  margin-left: auto;
}

nav ul {
  padding: 0 1em;
}

nav ul li {
  display: inline;
  text-decoration: underline;
  padding: 1em;
}

/* display the hero image and add a blueish mask over it */
.hero-banner {
  background-image: linear-gradient(var(--graient), var(--graient)), url("../images/02-hero-bg.jpg");
  height: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

/* Place hero text in the middle / right*/
.hero-text {
  position: absolute;
  top: 50%;
  right: 10%;
  background-color: var(--heading-background);
  padding: 1em;
}

/* display the main content as a flexbox */
.page-wrapper {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.page-section {
  margin-top: 1em;
  display: flex;
  gap: 1em;
  min-height: fit-content;
}

.page-section>h2 {
  flex-basis: 20%;
  text-align: end;
  padding-left: 3em;
  padding-right: 1em;
  border-right: 0.1em solid var(--text-color);
}

#about {
  text-justify: inter-word;
  text-align: justify;
}
#about-text {
  flex-basis: 80%;
  padding: 1em;
}

#contact>ul {
  flex-basis: 80%;
  padding: 1em;
}

.page-section a {
  text-decoration: none;
}

/*work will be displayed as grid and change depending on screen size */
.portfolio-grid {
  flex-grow: 1;
  padding: right 1;
  display: grid;
  grid-template-areas:
    "portfolio-1 portfolio-1"
    "portfolio-2 portfolio-3"
    "portfolio-4 portfolio-5"
  ;
  grid-gap: 10px;
}

/*consistent css for all protfolio grid items */
.portfolioGridArea {
  height: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  align-content: end;
  cursor: pointer;
  border: 0.4em solid var(--heading-background);
}

/* grid elements, on hover remove the mask */
#portfolio-1 {
  grid-area: portfolio-1;
  background-image: linear-gradient(var(--graient), var(--graient)), url("../images/02-portfolio-1.jpg");
}

#portfolio-1:hover {
  background-image: url("../images/02-portfolio-1.jpg");
}

#portfolio-2 {
  grid-area: portfolio-2;
  background-image: linear-gradient(var(--graient), var(--graient)), url("../images/02-portfolio-2.jpg");
}

#portfolio-2:hover {
  background-image: url("../images/02-portfolio-2.jpg");
}

#portfolio-3 {
  grid-area: portfolio-3;
  background-image: linear-gradient(var(--graient), var(--graient)), url("../images/02-portfolio-3.jpg");
}

#portfolio-3:hover {
  background-image: url("../images/02-portfolio-3.jpg");
}

#portfolio-4 {
  grid-area: portfolio-4;
  background-image: linear-gradient(var(--graient), var(--graient)), url("../images/02-portfolio-4.jpg");
}

#portfolio-4:hover {
  background-image: url("../images/02-portfolio-4.jpg");
}

#portfolio-5 {
  grid-area: portfolio-5;
  background-image: linear-gradient(var(--graient), var(--graient)), url("../images/02-run-buddy.jpg");
}

#portfolio-5:hover {
  background-image: url("../images/02-run-buddy.jpg");
}

/*heading styling to have it appear over the top of everything else */
.heading {
  position: relative;
  left: 0;
  top: 20px;
  padding: 15px;
  height: 100px;
  width: fit-content;
  color: white;
  background-color: var(--heading-background);
  z-index: 3;
}

/*  Contact Section styling */
#contact {
  align-items: center;
}

#contact ul {
  margin: 0;
  flex-grow: 1;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  flex-wrap: wrap;
}

#contact ul li {
  text-decoration: underline;
}

@media screen and (max-width: 767px) {

  /*on small screens change the grid layout to 1x5 */
  .portfolio-grid {
    grid-template-areas:
      "portfolio-1"
      "portfolio-2"
      "portfolio-3"
      "portfolio-4"
      "portfolio-5"
    ;
  }

  .page-section>h2 {
    display: none;
  }

  #about-text {
    flex-basis: 100%;
  }

  #contact>ul {
    flex-basis: 100%;
  }
}